<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flask SocketIO Test</title>
</head>
<body>
  <p>Some sample code to make sure Flask-SocketIO works...</p>
   <button onclick="createGame()">Create Game</button>
   <input id ="username" type="search" value="Enter your username">
     <input id ="roomId" type="search">
    <button onclick="joinRoom()">Join Game</button>
  

    <button onclick="castSpell()">Cast Spell</button>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    var socket = io.connect('https://' + document.domain + ':' + location.port);
    // verify our websocket connection is established
    socket.on('connection', function() {
        console.log('Websocket connected!');
    });
    socket.on('join_room', function(data) {
        console.log(data);
        roomNo = data['room'];
        socket.emit('join_room', {room: "ping"});
    });
    socket.on('message_event', function(data) {
        console.log(data);
    });
     
function joinRoom() {
      console.log('Joining...' + roomId.value);
      roomNo = roomId.value;
      socket.emit('join', {"room": roomId.value, "username": username.value});
    }
   
    function createGame() {
      console.log('Creating game...');
      socket.emit('create', {body: "ping", "username": username.value});
    }
    function castSpell() {
      console.log('Playing');
      socket.emit('play', {"room": roomNo, "spell": 1, "username": username.value});
    }
   
  </script>
</body>
</html>